{% extends 'VisaRouteFinderBundle::layout.html.twig' %}

{% block content %}
    <div class="row">
        <div class="span5">
            <div id="map-canvas"></div>
            <div class="form-inline search-location">
                <div class="form-group">
                    <label for="from-location">Search Location: &nbsp;</label>
                    <input type="text" class="form-control" id="target" placeholder="Enter Location">
                </div>
            </div>
        </div>
        <div class="span5">
            <form action="{{ url('visa_route_finder.default.ajax_calculate_route') }}" id="route-form" action="post" onsubmit="return false;">
                <input type="hidden" id="from-coordinate-lat" name="from_coordinate_lat" />
                <input type="hidden" id="from-coordinate-long" name="from_coordinate_long" />
                <input type="hidden" id="to-coordinate-lat" name="to_coordinate_lat" />
                <input type="hidden" id="to-coordinate-long" name="to_coordinate_long" />
                
                <fieldset>
                    <legend>Calculate Route</legend>
                    <div class="form-group">
                        <label for="from-location">From Location:</label>
                        <input type="text" readonly class="form-control input-xlarge" id="from-location" value="">
                    </div>
                    <div class="form-group">
                        <label for="to-location">To Location:</label>
                        <input type="text" readonly class="form-control input-xlarge" id="to-location" value="">
                    </div>
                    
                    <div class="form-group">
                        <label for="start-time">Expected Start Time:</label>
                        <div class="input-append bootstrap-timepicker">
                            <input id="start-time" name="start_time" type="text" class="input-small">
                            <span class="add-on"><i class="icon-time"></i></span>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-default">Calculate Route</button>
                </fieldset>
            </form>
        </div>
        
    </div>
    <hr>
    <div class="row">
        
        <div id="search-results" class="span10">
            <h3>Found Routes</h3>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>From</th>
                        <th>To</th>
                        <th>Time</th>
                        <th>Type</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
                
            </table>
        </div>
    </div>
    
{% endblock %}